/scsdky-admin/target/classes/com/scsdky/*.class
/scsdky-admin/target/classes/com/scsdky/web/config/*.class
/scsdky-admin/target/classes/com/scsdky/web/controller/app/*.class
/scsdky-admin/target/classes/com/scsdky/web/controller/common/*.class
/scsdky-admin/target/classes/com/scsdky/web/controller/monitor/*.class
/scsdky-admin/target/classes/com/scsdky/web/controller/system/*.class
/scsdky-admin/target/classes/com/scsdky/web/controller/tool/*.class
/scsdky-common/target/classes/com/scsdky/common/annotation/*.class
/scsdky-common/target/classes/com/scsdky/common/config/*.class
/scsdky-common/target/classes/com/scsdky/common/constant/*.class
/scsdky-common/target/classes/com/scsdky/common/core/controller/*.class
/scsdky-common/target/classes/com/scsdky/common/core/domain/*.class
/scsdky-common/target/classes/com/scsdky/common/core/domain/entity/*.class
/scsdky-common/target/classes/com/scsdky/common/core/domain/model/*.class
/scsdky-common/target/classes/com/scsdky/common/core/page/*.class
/scsdky-common/target/classes/com/scsdky/common/core/redis/*.class
/scsdky-common/target/classes/com/scsdky/common/core/text/*.class
/scsdky-common/target/classes/com/scsdky/common/enums/*.class
/scsdky-common/target/classes/com/scsdky/common/exception/base/*.class
/scsdky-common/target/classes/com/scsdky/common/exception/*.class
/scsdky-common/target/classes/com/scsdky/common/exception/file/*.class
/scsdky-common/target/classes/com/scsdky/common/exception/job/*.class
/scsdky-common/target/classes/com/scsdky/common/exception/user/*.class
/scsdky-common/target/classes/com/scsdky/common/filter/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/bean/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/file/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/html/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/http/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/ip/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/poi/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/reflect/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/sign/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/spring/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/sql/*.class
/scsdky-common/target/classes/com/scsdky/common/utils/uuid/*.class
/scsdky-common/target/classes/com/scsdky/common/xss/*.class
/scsdky-framework/target/classes/com/scsdky/framework/aspectj/*.class
/scsdky-framework/target/classes/com/scsdky/framework/config/*.class
/scsdky-framework/target/classes/com/scsdky/framework/config/properties/*.class
/scsdky-framework/target/classes/com/scsdky/framework/datasource/*.class
/scsdky-framework/target/classes/com/scsdky/framework/interceptor/impl/*.class
/scsdky-framework/target/classes/com/scsdky/framework/interceptor/*.class
/scsdky-framework/target/classes/com/scsdky/framework/manager/*.class
/scsdky-framework/target/classes/com/scsdky/framework/manager/factory/*.class
/scsdky-framework/target/classes/com/scsdky/framework/security/filter/*.class
/scsdky-framework/target/classes/com/scsdky/framework/security/handle/*.class
/scsdky-framework/target/classes/com/scsdky/framework/web/domain/*.class
/scsdky-framework/target/classes/com/scsdky/framework/web/domain/server/*.class
/scsdky-framework/target/classes/com/scsdky/framework/web/exception/*.class
/scsdky-framework/target/classes/com/scsdky/framework/web/service/*.class
/scsdky-generator/target/classes/com/scsdky/generator/config/*.class
/scsdky-generator/target/classes/com/scsdky/generator/controller/*.class
/scsdky-generator/target/classes/com/scsdky/generator/domain/*.class
/scsdky-generator/target/classes/com/scsdky/generator/mapper/*.class
/scsdky-generator/target/classes/com/scsdky/generator/service/*.class
/scsdky-generator/target/classes/com/scsdky/generator/util/*.class
/scsdky-patrol/target/classes/com/scsdky/patrol/domain/bo/*.class
/scsdky-patrol/target/classes/com/scsdky/patrol/domain/po/*.class
/scsdky-patrol/target/classes/com/scsdky/patrol/domain/vo/*.class
/scsdky-patrol/target/classes/com/scsdky/patrol/mapper/*.class
/scsdky-patrol/target/classes/com/scsdky/patrol/service/*.class
/scsdky-patrol/target/classes/com/scsdky/patrol/utils/*.class
/scsdky-quartz/target/classes/com/scsdky/quartz/config/*.class
/scsdky-quartz/target/classes/com/scsdky/quartz/controller/*.class
/scsdky-quartz/target/classes/com/scsdky/quartz/domain/*.class
/scsdky-quartz/target/classes/com/scsdky/quartz/mapper/*.class
/scsdky-quartz/target/classes/com/scsdky/quartz/service/impl/*.class
/scsdky-quartz/target/classes/com/scsdky/quartz/service/*.class
/scsdky-quartz/target/classes/com/scsdky/quartz/task/*.class
/scsdky-quartz/target/classes/com/scsdky/quartz/util/*.class
/scsdky-system/target/classes/com/scsdky/system/domain/*.class
/scsdky-system/target/classes/com/scsdky/system/domain/vo/*.class
/scsdky-system/target/classes/com/scsdky/system/mapper/*.class
/scsdky-system/target/classes/com/scsdky/system/service/impl/*.class
/scsdky-system/target/classes/com/scsdky/system/service/*.class
/scsdky-admin/*.iml
/scsdky-common/*.iml
/scsdky-framework/*.iml
/scsdky-generator/*.iml
/scsdky-patrol/*.iml
/scsdky-quartz/*.iml
/scsdky-system/*.iml
/scsdky-admin/target/classes/META-INF/*.kotlin_module
/scsdky-patrol/target/classes/META-INF/*.kotlin_module
/scsdky-admin/target/classes/i18n/messages.properties
/scsdky-admin/target/classes/META-INF/spring-devtools.properties
/scsdky-generator/src/main/resources/vm/java/*.vm
/scsdky-generator/src/main/resources/vm/js/*.vm
/scsdky-generator/src/main/resources/vm/sql/*.vm
/scsdky-generator/src/main/resources/vm/vue/*.vm
/scsdky-generator/src/main/resources/vm/vue/v3/*.vm
/scsdky-generator/src/main/resources/vm/xml/*.vm
/scsdky-generator/target/classes/vm/java/*.vm
/scsdky-generator/target/classes/vm/js/*.vm
/scsdky-generator/target/classes/vm/sql/*.vm
/scsdky-generator/target/classes/vm/vue/*.vm
/scsdky-generator/target/classes/vm/vue/v3/*.vm
/scsdky-generator/target/classes/vm/xml/*.vm
/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_9.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_9.xml
/.idea/libraries/Maven__com_alibaba_druid_1_2_8.xml
/.idea/libraries/Maven__com_alibaba_druid_spring_boot_starter_1_2_8.xml
/.idea/libraries/Maven__com_alibaba_fastjson_1_2_79.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_3_4_1.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_annotation_3_4_1.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_boot_starter_3_4_1.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_core_3_4_1.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_extension_3_4_1.xml
/.idea/libraries/Maven__com_baomidou_mybatis_plus_generator_3_4_1.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_12_6.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_12_6.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_12_6.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_12_6.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_12_6.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_12_6.xml
/.idea/libraries/Maven__com_github_jsqlparser_jsqlparser_4_2.xml
/.idea/libraries/Maven__com_github_oshi_oshi_core_5_8_6.xml
/.idea/libraries/Maven__com_github_pagehelper_pagehelper_5_3_0.xml
/.idea/libraries/Maven__com_github_pagehelper_pagehelper_spring_boot_autoconfigure_1_4_0.xml
/.idea/libraries/Maven__com_github_pagehelper_pagehelper_spring_boot_starter_1_4_0.xml
/.idea/libraries/Maven__com_github_penggle_kaptcha_2_3_2.xml
/.idea/libraries/Maven__com_github_virtuald_curvesapi_1_06.xml
/.idea/libraries/Maven__com_jhlabs_filters_2_0_235_1.xml
/.idea/libraries/Maven__com_mchange_mchange_commons_java_0_2_15.xml
/.idea/libraries/Maven__com_zaxxer_HikariCP_4_0_3.xml
/.idea/libraries/Maven__com_zaxxer_SparseBitSet_1_2.xml
/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_8_0.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_15.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
/.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_4.xml
/.idea/libraries/Maven__commons_io_commons_io_2_11_0.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_5.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__eu_bitwalker_UserAgentUtils_1_21.xml
/.idea/libraries/Maven__io_github_classgraph_classgraph_4_8_83.xml
/.idea/libraries/Maven__io_jsonwebtoken_jjwt_0_9_1.xml
/.idea/libraries/Maven__io_lettuce_lettuce_core_6_1_5_RELEASE.xml
/.idea/libraries/Maven__io_netty_netty_buffer_4_1_72_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_4_1_72_Final.xml
/.idea/libraries/Maven__io_netty_netty_common_4_1_72_Final.xml
/.idea/libraries/Maven__io_netty_netty_handler_4_1_72_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_4_1_72_Final.xml
/.idea/libraries/Maven__io_netty_netty_tcnative_classes_2_0_46_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_4_1_72_Final.xml
/.idea/libraries/Maven__io_projectreactor_reactor_core_3_4_13.xml
/.idea/libraries/Maven__io_springfox_springfox_bean_validators_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_boot_starter_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_core_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_data_rest_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_oas_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_schema_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spi_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_web_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_webflux_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_webmvc_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger2_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_common_3_0_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_ui_3_0_0.xml
/.idea/libraries/Maven__io_swagger_core_v3_swagger_annotations_2_1_2.xml
/.idea/libraries/Maven__io_swagger_core_v3_swagger_models_2_1_2.xml
/.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_20.xml
/.idea/libraries/Maven__io_swagger_swagger_annotations_1_6_2.xml
/.idea/libraries/Maven__io_swagger_swagger_models_1_6_2.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_2_0_2.xml
/.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_3_2.xml
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_4_0_1.xml
/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_27.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_22.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_5_10_0.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_platform_5_10_0.xml
/.idea/libraries/Maven__net_sf_ezmorph_ezmorph_1_0_6.xml
/.idea/libraries/Maven__net_sf_json_lib_json_lib_jdk15_2_4.xml
/.idea/libraries/Maven__org_apache_commons_commons_collections4_4_4.xml
/.idea/libraries/Maven__org_apache_commons_commons_compress_1_19.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_12_0.xml
/.idea/libraries/Maven__org_apache_commons_commons_math3_3_6_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_pool2_2_9_0.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_17_1.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_17_1.xml
/.idea/libraries/Maven__org_apache_poi_poi_4_1_2.xml
/.idea/libraries/Maven__org_apache_poi_poi_ooxml_4_1_2.xml
/.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_4_1_2.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_56.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_56.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_56.xml
/.idea/libraries/Maven__org_apache_velocity_velocity_engine_core_2_3.xml
/.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_3_1_0.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_7.xml
/.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_2_0_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_2_Final.xml
/.idea/libraries/Maven__org_mapstruct_mapstruct_1_3_1_Final.xml
/.idea/libraries/Maven__org_mybatis_mybatis_3_5_7.xml
/.idea/libraries/Maven__org_mybatis_mybatis_spring_2_0_5.xml
/.idea/libraries/Maven__org_mybatis_spring_boot_mybatis_spring_boot_autoconfigure_2_2_0.xml
/.idea/libraries/Maven__org_mybatis_spring_boot_mybatis_spring_boot_starter_2_2_0.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_12.xml
/.idea/libraries/Maven__org_quartz_scheduler_quartz_2_3_2.xml
/.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_32.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_32.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_redis_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_2_5_8.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_5_8.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_5_7.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_keyvalue_2_5_7.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_redis_2_5_7.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_2_0_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_2_0_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_config_5_5_4.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_core_5_5_4.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_5_5_4.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_web_5_5_4.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_context_support_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_oxm_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_3_14.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_14.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_28.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/YDJM-EM-SYS.iml
/scsdky-project/target/classes/com/scsdky/patrol/domain/bo/QueryListBo.class
/scsdky-project/target/classes/com/scsdky/patrol/domain/bo/QueryPatrolBo.class
/scsdky-project/target/classes/com/scsdky/patrol/domain/po/AppFile.class
/scsdky-project/target/classes/com/scsdky/patrol/domain/po/AppPatrol.class
/scsdky-project/target/classes/com/scsdky/patrol/domain/po/AppReport.class
/scsdky-project/target/classes/com/scsdky/patrol/domain/po/AppTrack.class
/scsdky-project/target/classes/com/scsdky/patrol/domain/po/AppWarning.class
/scsdky-project/target/classes/com/scsdky/patrol/domain/po/PatrolPerson.class
/scsdky-project/target/classes/com/scsdky/patrol/domain/vo/TrackRecord.class
/scsdky-project/target/classes/com/scsdky/patrol/domain/vo/UserRecord.class
/scsdky-project/target/classes/com/scsdky/patrol/mapper/AppFileMapper.class
/scsdky-project/target/classes/com/scsdky/patrol/mapper/AppPatrolMapper.class
/scsdky-project/target/classes/com/scsdky/patrol/mapper/AppReportMapper.class
/scsdky-project/target/classes/com/scsdky/patrol/mapper/AppTrackMapper.class
/scsdky-project/target/classes/com/scsdky/patrol/mapper/AppWarningMapper.class
/scsdky-project/target/classes/com/scsdky/patrol/service/AppFileServiceImpl.class
/scsdky-project/target/classes/com/scsdky/patrol/service/AppPatrolServiceImpl.class
/scsdky-project/target/classes/com/scsdky/patrol/service/AppReportServiceImpl.class
/scsdky-project/target/classes/com/scsdky/patrol/service/AppTrackServiceImpl.class
/scsdky-project/target/classes/com/scsdky/patrol/service/AppWarningServiceImpl.class
/scsdky-project/target/classes/com/scsdky/patrol/service/IAppFileService.class
/scsdky-project/target/classes/com/scsdky/patrol/service/IAppPatrolService.class
/scsdky-project/target/classes/com/scsdky/patrol/service/IAppReportService.class
/scsdky-project/target/classes/com/scsdky/patrol/service/IAppTrackService.class
/scsdky-project/target/classes/com/scsdky/patrol/service/IAppWarningService.class
/scsdky-project/target/classes/com/scsdky/patrol/utils/FileUploadUtil.class
/scsdky-project/target/classes/com/scsdky/patrol/utils/GaoDeMap.class
/scsdky-admin/target/classes/com/scsdky/web/controller/ydjm/*.class
/scsdky-project/target/classes/META-INF/*.kotlin_module
/scsdky-project/target/classes/com/scsdky/project/domain/bo/*.class
/scsdky-project/target/classes/com/scsdky/project/domain/po/*.class
/scsdky-project/target/classes/com/scsdky/project/domain/vo/*.class
/scsdky-project/target/classes/com/scsdky/project/mapper/*.class
/scsdky-project/target/classes/com/scsdky/project/service/*.class
/scsdky-project/target/classes/com/scsdky/project/utils/*.class
/.idea/dictionaries/xiaom.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sqldialects.xml
/.idea/uiDesigner.xml
/scsdky-project/target/classes/mapper/AppFileMapper.xml
/scsdky-project/target/classes/mapper/AppPatrolMapper.xml
/scsdky-project/target/classes/mapper/AppReportMapper.xml
/scsdky-project/target/classes/mapper/AppTrackMapper.xml
/scsdky-project/target/classes/mapper/AppWarningMapper.xml
/scsdky-project/target/classes/mapper/ProDeviceRainMapper.xml
/scsdky-project/target/classes/mapper/ProDeviceTemMapper.xml
/scsdky-project/target/classes/mapper/ProDrillMapper.xml
/scsdky-project/target/classes/mapper/ProFileMapper.xml
/scsdky-project/target/classes/mapper/ProTunnelMapper.xml
/scsdky-project/target/classes/com/scsdky/project/service/impl/*.class
/scsdky-project/target/classes/mapper/*.xml
*.iml
.idea/
scsdky-admin/target/
scsdky-project/target/
scsdky-quartz/target/
scsdky-system/target/
scsdky-common/target/
scsdky-framework/target/scsdky-framework-3.8.1.jar
scsdky-framework/target/
scsdky-generator/target/
